@charset "UTF-8";

.main-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.left-component {
    width: 30%;
    padding-right: 20px;
    height: auto; /* Change height to auto to allow it to expand based on content */
    max-height: 80vh; /* Set a maximum height to limit expansion */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start; /* Align items to the start */
}


.left-component h2 {
    margin-bottom: 10px;
}

.left-component img {
    max-width: 100%; /* Set a maximum width for the image */
    height: auto; /* Ensure aspect ratio is maintained */
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}


.left-component p {
    margin-bottom: 10px;
}

.right-component {
    width: 70%; /* Set the width to 70% */
    display: flex;
    flex-direction: column;
    align-items: center; /* Align cards horizontally centered */
    gap: 20px; /* Add gap between cards */
}

.bidder-card {
    background-color: transparent;
    border: 1px solid rgba(56, 56, 56, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
    width: 80%;
}
.bidder-card:hover{
    background: hsla(218, 41%, 45%, 0.06);
}
.bidder-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
   
}
.card-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.sub-heading {
    text-align: center;
    margin-inline: auto;
}
.bidder-card:hover{
	opacity: 0.7;
}

.item-name{
	text-align: center;
	padding: 10px 0;
}
.profile-section {
    display: flex;
    flex-direction: column;
	border-bottom: 1px solid grey;
	padding: 10px 0;
}
.button-pic{
	display: flex;
	gap: 10px;
}
.profile-name{
	padding-left: 30px;
	text-style: italic;
}
/* Styling for the avatar image */
.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%; /* Make it circular */
    object-fit: cover;
}


.accept-button button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Make the button span the whole width */
}

.accept-button button:hover {
    background-color: lightgreen;
}
